body {
  margin: auto;
  max-width: 1444px;
  background-color: #ffe7fc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: "FingerPaint";
  src: url("police/FingerPaint-Regular.ttf");
}

.fingerpaint {
  font-family: "FingerPaint";
}

h1 {
  font-family: FingerPaint;
  font-size: 36px;
}

a {
  text-decoration: none;
  color: black;
}

th {
  border: 2px solid black;
  background-color: white;
  padding: 0.5em 0.5em;
}

.top_page,
.basket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.formatting_page {
  background-color: #dac3ff;
  margin: 1em 0em;
  padding: 1em 1em;
  border-radius: 20px;
}
.title_center{
  display: flex;
  justify-content: center;
}
.basket {
  font-size: 18px;
}
.link-basket {
  padding-left: 1em;
  color: #ea4300;
  font-weight: 600;
}

.fa-shopping-cart {
  font-size: 36px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6b00eb),
    to(#ea4300)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}

.fa-home {
  font-size: 36px;
}

#bloc_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

#teddy_container,
#formating_order {
  display: flex;
  justify-content: center;
}

.title {
  color: #ea4300;
}
.price {
  font-weight: 600;
}
#select_button {
  display: flex;
  justify-content: center;
  gap: 2em;
}

button {
  border-radius: 20px;
  background-color: white;
  padding: 0.5em;
  color: #7700ee;
  margin-left: 1em;
}

.button_page3 {
  margin-top: 2em;
  font-size: 15px;
  font-weight: 600;
}

#text_button {
  font-size: 15px;
  font-weight: 500;
}

#quantity,
#btn-more,
#btn-less {
  color: black;
  border-radius: 0;
  font-weight: 800;
}

.jc-center {
  display: flex;
  justify-content: center;
}

.formatting_products {
  overflow: hidden;
  width: 30%;
  border: 10px solid#dac3ff;
  background-color: #dac3ff;
  border-radius: 20px;
  margin-top: 1em;
  padding-bottom: 2em;
}

.img_product {
  height: 20em;
}

.nameandprice {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0.5em;
}

#ticket {
  border: 2px solid white;
  background-color: white;
  width: 20rem;
  padding: 1em;
}

label {
  font-weight: 600;
  font-size: 20px;
}
input {
  margin-right: 1em;
}

#ticket_product {
  border: 2px solid black;
  padding: 0.5em;
}

@media screen and (max-width: 768px) {
  #bloc_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formatting_products {
    width: auto;
    margin: 2em 0.5em;
  }

  .img_product {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 80%;
    height: 2em;
  }

  .button_page3 {
    width: 30%;
  }
}
